/*--------------------------------------
Font Imports
--------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Datatype:wght@100..900&family=Lilita+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/*--------------------------------------
General Styles
--------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------------------
Body Styles
--------------------------------------*/

body{
    background:white;
    font-family: "Roboto Mono", monospace;
}

/* Header Styles */
header {
    width: 100%;
    padding: 0 5%;
}

/* Hero Styles */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Menu Button Styles */

.menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    padding: 6px 0;
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
}

.menu-button span {
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    border-radius: 999px;
}

/* hero title */

.hero-title {
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-size: 48px;
    line-height: 1.2;
    color: #fff;
    z-index: 1;
}
/* hero image */

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Line Strip Styles */
.line-strip {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.line {
    width: 3px;
    height: 120px;
    background: #000;
    display: block;
}

.line-strip .line:nth-child(even) {
    height: 80px;
}

/*--------------------------------------
Main Content Styles 
--------------------------------------*/

/* Main styles */
main {
    width: 100%;
    padding: 50px 5%;
}

/* Projektdaten Dropdown styles */

.projektdaten {
    width: 100%;
}

/* Detail Image Styles */
.seitenschnitt-image {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.seitenschnitt-image img {
    width: 100%;
    height: auto;
    display: block;
}

.autrium {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



@media {
    
}